<h1>List Articles</h1>

<table>
<thead>
<tr>
<th>Title</th>
<th>Desc</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 
<% @articles.each do |article|%>
<tr>
<td><%=article.title%></td>
<td><%=article.desc%></td>
<td><%= link_to 'Show', article_path(article)%></td>
<td><%= link_to 'Edit', article_path(article),method: :post%></td>
<td><%= link_to 'Delete', article_path(article), method: :delete%></td>

</tr>
<%end%>
</tbody>


</table>